.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.container > p {
  font-size: 10px !important;
  color: white;
  margin: 0 !important;
}

.weather > img {
  width: 32px;
  height: 32px;
}
