.container {
  position: relative;
  width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
}

.collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #787878;
  border-radius: 20px;
  padding: 14px;
}

.collapsed.open {
  border-radius: 20px 20px 0 0;
  border-bottom: none;
}

.collapsed > button {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title > img {
  width: 20px;
  height: 20px;
}

.title > p {
  margin: 0;
  font-size: 14px;
}

.expanded {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #787878;
  border-top: none;
  border-radius: 0 0 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
}

.expanded > hr {
  width: 300px;
  border: 0.4px solid #cecece;
}

.expanded > img {
  width: 270px;
  height: 360px;
  object-fit: cover;
  margin: 24px 14px;
}

.expanded.active {
  max-height: 420px;
}
