.header {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header > button {
  position: absolute;
  left: 26px;
  display: flex;
  align-items: center;
}

.header p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
}
