.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.wrapper p {
  color: white;
  margin: 0;
}

.mainDescription {
  font-size: 18px;
  font-weight: 600;
}

.subDescription {
  font-size: 13px;
}

.button {
  width: 185px;
  height: 42px;
  font-size: 13px;
  background-color: #ff672b;
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 40px;
}

@media (max-width: 390px) and (min-height: 650px) {
  .container {
    transform: scale(0.8);
    transform-origin: top center;
  }
}
