.wrapper {
  width: 402px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  background-color: white;
}

.wrapper > img {
  width: 20%;
  height: auto;
}

.wrapper > p {
  color: #ff672b;
  font-size: 14px;
}
