.wrapper {
  position: relative;
  width: 402px;
  height: 874px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 38px;
  box-sizing: border-box;
}

.subTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subTitle > p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #787878;
}

.subTitle p span {
  margin: 0;
  color: black;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 26px;
  margin-bottom: 14px;
}

.location img {
  width: 12px;
  height: 12px;
}

.location > p {
  font-size: 12px;
  color: #787878;
}

.textareaWrapper {
  width: 326px;
  height: 392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #787878;
  border-radius: 6px;
  padding: 12px;
  box-sizing: border-box;
  gap: 6px;
  margin-bottom: 60px;
}

.textareaWrapper > textarea {
  resize: none;
  outline: none !important;
  border: none;
  width: 100%;
  height: 360px;
}

.textLength {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #787878;
  font-size: 10px;
}

.submitButton {
  margin-top: auto;
  width: 327px;
  height: 55px;
  border-radius: 30px;
  border: none;
  background-color: #ff672b;
  color: white;
  font-size: 18px;
}

@media (max-width: 390px) and (max-height: 650px) {
  .wrapper {
    transform: scale(0.98);
    transform-origin: top center;
  }
}
