.container {
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 70px;
  width: 138px;
  height: 246px;
  background-color: rgba(255, 255, 255, 0.5);
}

.img {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: aqua;
}

.navButton {
  all: unset;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
  margin: 12px 0;
  cursor: pointer;
}

.navButton > p {
  font-size: 13px;
  font-weight: bolder;
}

.navButton > img {
  width: 14px;
  height: 10px;
  flex: 0 0 auto;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
