.container {
  padding: 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 87px;
  width: 172px;
  height: 308px;
  background-color: rgba(255, 255, 255, 0.5);
}

.img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: aqua;
}

.navButton {
  all: unset;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
  cursor: pointer;
}

.navButton > p {
  font-size: 16px;
  font-weight: bolder;
}

.navButton > img {
  width: 18px;
  height: 12px;
  flex: 0 0 auto;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
