.container {
  display: flex;
  flex-direction: column;
}

.reviewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 10px;
}

.reviewHeader p {
  font-size: 12px;
  color: #7c7c7c;
}

.reviewContentsScroll {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.reviewContentsScroll::-webkit-scrollbar {
  display: none;
}
